
.vscode/settings.json
__pycache__/fixtures.cpython-310.pyc
__pycache__/mainwindow.cpython-310.pyc
__pycache__/login1.cpython-310.pyc
__pycache__/signup.cpython-310.pyc
__pycache__/venue.cpython-310.pyc
__pycache__/squad.cpython-310.pyc
